.inventory {
 
  width: 35rem;
  height: 35rem;
}

.inventory,
.inventory--small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.inventory--big,
.inventory--small {
  width: 100%;
  height: 100%;

}

.inventory--big {
  display: flex;
  align-items: center;
  place-content: center;
}

.inventory--big:first-child,
.inventory--big:nth-child(3) {
  width: 80%;
}

@media (width <= 1280px) {
  .inventory {
    width: 30rem;
    height: 30rem;
  }
}
