@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400&family=Montserrat:ital,wght@0,400;0,500;1,300;1,400&family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;

  text-decoration: none;
  list-style: none;
}
a {
  width: 100%;
  height: 100%;
}
body {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}
header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  color: #222831;
}

.header__logo {
  margin: auto 3rem;
}

.header__nav ul {
  display: flex;
  height: 100%;
  gap: 2rem;
  align-items: center;
  font-size: 1.3rem;
  margin: auto 2rem;
}

.header__nav a {
  color: #222831;
  font-weight: 600;
}

.header__responsive {
  display: none;
}

.header__nav li:last-child {
  background-color: #00adb5;
  height: 3rem;
  width: 8rem;
  display: grid;
  place-items: center;
  border-radius: 15px;
}
.header__nav li:last-child a {
  height: auto;
  width: auto;
  color: #fff;
}
/*------------------------------------------MODAL--------------------------------------------------------*/
.login-box {
  margin: auto;
  width: 25rem;
  padding: 2.5rem;

  background-color: #222831;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 3px;
  width: 10rem;
  border-bottom: 1.5px #fff solid;
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}
/*-----------------------------------CUERPO-------------------------------------------------------------*/
main {
  display: flex;
}
.box {
  margin-top: 3rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block2__cuello,
.block1__top,
.block1__jacket,
.block2__cinturon,
.block2__reloj,
.block3__pantalon,
.block3__calzado,
.box2__cuello,
.box2__top,
.box2__abrigo,
.box2__cinturon,
.box2__reloj,
.box2__pantalon,
.box2__calzado {
  display: grid;
  place-items: center;
  overflow: hidden;
  background: white;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
}

.block2__cuello img,
.block1__top img,
.block1__jacket img,
.block2__cinturon img,
.block2__bracelet img,
.block2__reloj img,
.block3__pantalon img,
.block3__calzado img {
  width: 100%;
}
.block2__cuello:hover,
.block1__top:hover,
.block1__jacket:hover,
.block2__cinturon:hover,
.block2__reloj:hover,
.block3__pantalon:hover,
.block3__calzado:hover,
.box2__cuello:hover,
.box2__top:hover,
.box2__jacket:hover,
.box2__cinturon:hover,
.box2__reloj:hover,
.box2__pantalon:hover,
.box2__calzado:hover {
  border: 1px solid #00adb5;
  transform: scale(1.05);
}
/*-------------------------------------------------------------------------------------------------------------*/

.block1 {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.block1__top,
.block1__jacket {
  width: 12rem;
  height: 15rem;
}



.block1__jacket {
  margin-right: 1rem;
}

/*-------------------------------------------------------------------------------------------------------------*/

.block2,
.block3 {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.block2__cinturon {
  width: 12rem;
  height: 5rem;
}

.block2__reloj,
.block2__cuello {
  width: 6rem;
  height: 6rem;
}

/*-------------------------------------------------------------------------------------------------------------*/
.block3 {
  flex-direction: column;
}

.block3__pantalon {
  width: 12rem;
  height: 15rem;
  fill: red;
  position: relative;
  
}

.block3__pantalon::after{
  content: "";
  background-color: #00adb5;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
}
.block3__calzado {
  width: 10rem;
  height: 7rem;
}

/*-----------------------------------------------------box-ropa-----------------------------------------------*/

.box2 {
  display: flex;
  margin-top: 3rem;
  width: 60%;
  height: auto;
  gap: 1rem;
  flex-wrap: wrap-reverse;
  
  justify-content: space-around;
  align-items: center;
}

.box2__top,
.box2__abrigo {
  width: 9.6rem;
  height: 12rem;
}

/*----------------------------------------------MEDIA---------------------------------------------*/

@media (width <= 1200px) {
  .block2,
  .block3 {
    height: auto;
    gap: 1.5rem;
    margin-top: 0.75rem;
  }

  .block2__cuello,
  .block2__reloj {
    width: 5rem;
    height: 5rem;
  }

  .block1__top,
  .block1__jacket,
  .block3_pantalon {
    width: 10rem;
    height: 13.5rem;
  }

  .block2__cinturon {
    width: 10rem;
  }

  .block3__calzado {
    width: 10rem;
    height: 7rem;
  }
}

@media (width <= 900px) {
  .block2__cuello,
  .block2__reloj {
    height: 4rem;
    width: 4rem;
  }

  .block2__cinturon {
    width: 9rem;
  }
  .block1__top,
  .block1__jacket,
  .block3__pantalon {
    width: 9rem;
    height: 12rem;
  }
  .block3__calzado {
    width: 8rem;
    height: 5.5rem;
  }
}

@media (width <= 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .box {
    width: 100%;
  }

  .box2 {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  .header__responsive {
    display: block;
    height: 100%;
    width: 6rem;
    display: grid;
    place-content: center;
    fill: white;
  }

  .header__nav {
    display: none;
  }

  .block2,
  .block3 {
    height: auto;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .block2__cuello,
  .block2__reloj {
    width: 4rem;
    height: 4rem;
    margin: 0 0.5rem;
  }

  .block1__top,
  .block1__jacket,
  .block3__pantalon {
    width: 7.5rem;
    height: 11rem;
  }

  .block2__cinturon {
    width: 8rem;
  }

  .block3__calzado {
    width: 8rem;
  }
}
/*----------------------------------------------*/




.bloqueBoton{
  
  width: 512px;
  height: 512px;
  
  background-color: #00adb5;
}

.botonaso {
  
width: 4rem;
height: 4rem;
}
