.clothing-Btn {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  display: grid;
  place-items: center;
  

}

.clothing-Btn:hover {
  border: 1px solid var(--fourth-color);
  transform: scale(1.04);
}

.clothing-Btn:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.clothing-Btn img {
  width: 90%;

}

.pants img {
  width: 80%;
}

.big {
  width: 12rem;
  height: 16rem;
}

.small {
  width: 7rem;
  height: 7rem;
}

@media (width <= 1280px) {
  .big {
    width: calc(14rem * 0.7);
    height: calc(20rem * 0.7);
  }

  .small {
    width: calc(9rem * 0.65);
    height: calc(9rem * 0.65);
  }
}
