
.homePage {

    width: 100vw;
    height: calc(100vh - 5rem);
    display: flex;
  }
  
  .box {
  
    width: 100vw;
    height: 45rem;
    display: flex;
    align-items: center;
    place-content: center;
  }
  
  @media (width <= 1280px) {
    .box {
      height: 35rem;
    }
  }
  